
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  background: white;
}

body {
  color:grey;
  font-family: 'Montserrat',sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.customBttn {
  width: 100%;
  text-align: center;
  color: black;
  margin-bottom: 10px;
  border:none!important;
}

.customBttn:hover{
  background: #40b6ae;
}

.customBttn:hover .fa-plus{
  color: white;
}

.fa-plus, .fa-check{
  color: white;
}

.py-4{
  text-align: center;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.headingContainer {
  margin: 20px 0 40px 0;
}

h1,h2 {
  padding-top: 10px;
  color:#786f6f;
  text-transform: uppercase;
}

tbody tr:nth-of-type(odd){
  background: white;
}

.nav-item{
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:hover{
  color:#40b6ae;
}

.table-hover tbody tr:hover {
  background-color: #40b6ae4d;
}

.border-line {
  display:block;
  border:none;
  color:white;
  height:2px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#40b6ae), to(#f5f8fa));
}

.form-check-inline .form-check-input {
  margin-left: 15px;
}

.editBttn:hover {
  background: #aed5b0;
  color: black;
}

.deleteBttn:hover{
  background: #ff1111a3;
  color: black;
}

.messageBttn:hover{
  background: #aed5b0;
  color: black;
}

.btn{
  background: #d6d5d7;
  color: white;
  border: none;
}